body {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen {
	body {
	    margin-left: 50px;
	    margin-right: 50px;
	}
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

tr {
    border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

tr + tr {
    border-top: 1px solid #bbb;
}

td {
    border-left: 1px solid #000;
    vertical-align: top;
}

td + td {
    border-left: 1px solid #bbb;
}

th + th {
    border-left: 1px solid #bbb;
}

.firstRow {
	border-top: 1px solid #000;
}

#resistanceFinding {
    font-size: 10pt;
}

#substitutionsOfInterest {
    font-size: 10pt;
}

#featureCoverageTable {
    font-size: 10pt;
}

#resistanceAlgorithmNotes {
    font-size: 10pt;
}

#references {
    font-size: 10pt;
}

#resistanceFindingEven {
	background-color: #f2f2f2;
}

td, th {
    padding: 8px;
}

#resistanceFinding th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dbf0ff;
}

#substitutionsOfInterest th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dbf0ff;
}


#drugScores th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dbf0ff;
}

.resistanceBlock {
	padding: 0px;
}

.footnoteList {
   list-style: none;
   margin-left: 0;
   padding-left: 1.2em;
   text-indent: -1.2em;
}

.resistanceColourCode_no_significant_resistance_detected {
	background-color: #56d369;
}

.resistanceColourCode_possible_resistance_detected {
	background-color: #fcf95a;
}

.resistanceColourCode_probable_resistance_detected {
	background-color: #ffb349;
}

.resistanceColourCode_resistance_detected {
	background-color: #ff0202;
}

.resistanceColourCode_insufficient_research {
	background-color: #666666;
}


.rasColourCode_insignificant {
	color: #aaaaaa;
}

.rasColourCode_category_III {
	font-weight: bold;
	color: #aaaaaa;
}

.rasColourCode_category_II {
	font-weight: bold;
	color: #ffb349;
}

.rasColourCode_category_I {
	font-weight: bold;
	color: #ff0202;
}



.tableHeader {
    background-color: #dbf0ff;
}

#block1 {
	width: 100%;
	overflow: hidden;
}

#titleAndOverview {
	float: left;
	width: 50%;
	padding-bottom: 100%;
    margin-bottom: -100%;
}

#overview {
    width:90%;
}

#systemConfigTable {
    width:50%;
}


#logos {
	float: left;
	width: 50%;
	text-align: right;
	padding-bottom: 100%;
    margin-bottom: -100%;
}

#cvrLogo {
	display: inline-block;
	height:115px;	
}

#pheLogo {
	display: inline-block;	
	height:115px;
}


#phylo {
	width: 35%;
}

#phylogenetics {
    width:90%;
}

#drugScores {
    width:100%;
}

#antiviralResistance {
	width: 100%;
}

#resistanceFinding {
    width:100%;
}

.pagebreak { page-break-before: always; }


